<footer>
  <div class="container">
    <div class="row">
      <div class="social-container">
        <div class="col-xs-6 col-sm-3 col-md-3 col-f-social">
          <span>{{ social_text }}<a href="https://www.instagram.com/aneytis.shop/"><img class="img-f" src="/image/iconmonstr-instagram-11.svg"></a><a href="https://www.instagram.com/aneytis.school/?igshid=17pza8z4cva6y"><img class="img-f" src="/image/iconmonstr-instagram-11.svg"></a><a href="https://www.facebook.com/BeautyStudioAneytis/"><img class="img-f" src="/image/iconmonstr-facebook-5.svg"></a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      {% if informations %}
      <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-f">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled footer_list">
         {% for information in informations %}
          <li><a class="footer-select" href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-f">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled footer_list">
          <li><a class="footer-select" href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a class="footer-select" href="{{ return }}">{{ text_return }}</a></li>
          <li><a class="footer-select" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-f">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled footer_list">
          <li><a class="footer-select" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a class="footer-select" href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a class="footer-select" href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a class="footer-select" href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-f">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled footer_list">
          <li><a class="footer-select" href="{{ account }}">{{ text_account }}</a></li>
          <li><a class="footer-select" href="{{ order }}">{{ text_order }}</a></li>
          {#<li><a class="footer-select" href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
          <li><a class="footer-select" href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
