<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    {% if robots %}
        <meta name="robots" content="{{ robots }}"/>
    {% endif %}
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ og_url }}"/>
    {% if og_image %}
        <meta property="og:image" content="{{ og_image }}"/>
    {% else %}
        <meta property="og:image" content="{{ logo }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ name }}"/>
    <script src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="/catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
    <link href="/catalog/view/theme/aneytis/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="/catalog/view/theme/aneytis/stylesheet/register.css" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="/catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<nav class="white_background">
    <div class="container top">
        <div class="horizontal">
            <div class="row vertical-align">
                <div class="col-xs-9 col-md-4 col-sm-4 col-lg-4 options_site">
                    <div class="options_site_menu">
                        {{ currency }}
                        {{ language }}
                        {{ blog_menu }}
                    </div>
                </div>
                <div class=" col-xs-4 col-md-5 col-sm-6 col-lg-6 links-btn">
                    <div id="top-links" class="nav pull-right">
                        <ul class="list-inline">
                            <li class="dropdown">
                                <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle"
                                   data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right auth-dropdown">
                                    {% if logged %}
                                        <li><a class="auth" href="{{ account }}">{{ text_account }}</a></li>
                                        <li><a class="auth" href="{{ order }}">{{ text_order }}</a></li>
                                        <li><a class="auth" href="{{ transaction }}">{{ text_transaction }}</a></li>
                                        <li><a class="auth" href="{{ download }}">{{ text_download }}</a></li>
                                        <li><a class="auth" href="{{ logout }}">{{ text_logout }}</a></li>
                                    {% else %}
                                        <li><a class="auth" href="{{ register }}">{{ text_register }}</a></li>
                                        <li><a class="auth" href="{{ login }}">{{ text_login }}</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            {#<li>#}
                                {#<a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">#}
                                    {#<i class="fa fa-heart"></i>#}
                                    {#<span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span>#}
                                {#</a>#}
                            {#</li>#}
                            <li>
                                <a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span>
                                </a>
                            </li>
                            {#<li>#}
                                {#<a href="{{ checkout }}" title="{{ text_checkout }}">#}
                                    {#<i class="fa fa-share"></i>#}
                                    {#<span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span>#}
                                {#</a>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<header>
    <div class="container white_background">
        <div class="vertical-block">
            <div class="row h-100 vertical-align">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                    <div id="logo">
                        {% if logo %}
                            {% if oct_home is defined and oct_home %}
                                <a href="{{ home }}">
                                    <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/>
                                </a>
                            {% else %}
                                <a href="{{ home }}">
                                    <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/>
                                </a>
                            {% endif %}
                        {% else %}
                            <h1><a href="{{ home }}">{{ name }}</a></h1>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 md-center number">
                    <div class="on-computer">
                        <a href="{{ contact }}"><i class="fa fa-phone"></i></a>
                        <span>
                            <a href="tel:{{ telephone }}">{{ telephone }}</a> </br>
                            <a href="{{ contact }}"><i class="fa fa-phone"></i></a><a href="tel:{{ telephone2 }}"> {{ telephone2 }}</a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 md-center">{{ search }}</div>
                {#<div class="col-xs-12 col-sm-1 col-md-1 col-lg-2">
                    <a class="btn compare-btn" href="{{ compare }}" id="compare-total" title="{{ text_compare }}">
                        <i class="fa fa-exchange"></i>
                        <span class="hidden-sm hidden-md">{{ text_compare }}</span>
                    </a>
                </div>#}
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-4 md-center">{{ cart }}</div>
            </div>
        </div>
    </div>
</header>
{{ menu }}
