{% if languages|length > 1 %}
  <div class="pull-left">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
      <div class="btn-group">
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
          {% for language in languages %}
          {% if language.code == code %}
          <img class="hide-img" src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"> <span class="hidden-xs hidden-sm hidden-md">{{ language.name }}</span>&nbsp;<i class="fa fa-caret-down"></i></button>
        {% endif %}
        {% endfor %}
        <ul class="dropdown-menu">
          {% for language in languages %}
            <li>
              <button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img class="hide-img" src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
            </li>
          {% endfor %}
        </ul>
      </div>
      <input type="hidden" name="code" value="" />
      <input type="hidden" name="redirect" value="{{ redirect }}" />
    </form>
  </div>
{% endif %}
