{% if categories %}
    <div class="container white_background">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <nav id="menu" class="navbar">
                    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
                        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            {% for category in categories %}
                                {% if category.children %}
                                    <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle">{{ category.name }}</a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-inner">
                                                {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                                    <ul class="list-unstyled">
                                                    {% for child in children %}
                                                        <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                                        {% if loop.index != 1 and loop.index%7  == 0 %}
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                        {% endif %}
                                                    {% endfor %}
                                                    </ul>
                                                {% endfor %}</div>
                                            <a href="{{ category.href }}"
                                               class="see-all">{{ text_all }} &laquo;<b class="categ_name">{{ category.name }}</b>&raquo;</a></div>
                                    </li>
                                {% else %}
                                    <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a href="{{ about_us_link }}">{{ about_us }}</a>
                            </li>
                            <li>
                                <a href="{{ contacts_link }}">{{ contacts }}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endif %}
