{{ header }}
<div id="account-account" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}" class="a">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="account-box">
                <div class="category-menu">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" class="lock-href">
                                <h2 class="color-gradient">{{ text_my_account }}</h2></a>
                        </li>
                    </ul>
                </div>
                <div class="category-account">
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ edit }}"><p><i class="glyphicon glyphicon-user"></i></p>{{ text_edit }}</a>
                        </div>
                    </div>
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ password }}"><p><i class="glyphicon glyphicon-lock"></i></p>{{ text_password }}
                            </a>
                        </div>
                    </div>
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ address }}"><p><i class="glyphicon glyphicon-list-alt"></i>
                                </p>{{ text_address }}</a>
                        </div>
                    </div>
                    {#<div class="category-box borders">#}
                        {#<div class="li-none text-below">#}
                            {#<a href="{{ wishlist }}"><p><i class="glyphicon glyphicon-pencil"></i>#}
                                {#</p>{{ text_account_wishlist }}</a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
            {#<h2>{{ text_my_account }}</h2>#}
            {#<ul class="list-unstyled">#}
            {#<li><a href="{{ edit }}">{{ text_edit }}</a></li>#}
            {#<li><a href="{{ password }}">{{ text_password }}</a></li>#}
            {#<li><a href="{{ address }}">{{ text_address }}</a></li>#}
            {#<li><a href="{{ wishlist }}">{{ text_account_wishlist }}</a></li>#}
            {#</ul>#}
            {% if credit_cards %}
                <h2>{{ text_credit_card }}</h2>
                <ul class="list-unstyled">
                    {% for credit_card in credit_cards %}
                        <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="account-box">
                <div class="category-menu">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" class="lock-href">
                                <h2 class="color-gradient">{{ text_my_orders }}</h2></a>
                        </li>
                    </ul>
                </div>
                <div class="category-account">
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ order }}"><p><i class="glyphicon glyphicon-book"></i></p>{{ text_order }}</a>
                        </div>
                    </div>
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ download }}"><p><i class="glyphicon glyphicon-download-alt"></i>
                                </p>{{ text_download }}</a>
                        </div>
                    </div>
                    {% if reward %}
                        <div class="category-box borders">
                            <div class="li-none text-below">
                                <a href="{{ reward }}"><p><i class="glyphicon glyphicon-piggy-bank"></i>
                                    </p>{{ text_reward }}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ return }}"><p><i class="glyphicon glyphicon-credit-card"></i>
                                </p>{{ text_return }}</a>
                        </div>
                    </div>
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ transaction }}"><p><i class="glyphicon glyphicon-cog"></i>
                                </p>{{ text_transaction }}</a>
                        </div>
                    </div>
                    <div class="category-box borders">
                        <div class="li-none text-below">
                            <a href="{{ recurring }}"><p><i class="glyphicon glyphicon-usd"></i></p>{{ text_recurring }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {#<h2>{{ text_my_orders }}</h2>#}
            {#<ul class="list-unstyled">#}
            {#<li><a href="{{ order }}">{{ text_order }}</a></li>#}
            {#<li><a href="{{ download }}">{{ text_download }}</a></li>#}
            {#{% if reward %}#}
            {#<li><a href="{{ reward }}">{{ text_reward }}</a></li>#}
            {#{% endif %}#}
            {#<li><a href="{{ return }}">{{ text_return }}</a></li>#}
            {#<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>#}
            {#<li><a href="{{ recurring }}">{{ text_recurring }}</a></li>#}
            {#</ul>#}


            <div class="account-box">
                <div class="category-menu">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" class="lock-href">
                                <h2 class="color-gradient">{{ text_my_affiliate }}</h2></a>
                        </li>
                    </ul>
                </div>
                <div class="category-account">
                    {% if not tracking %}
                        <div class="category-box borders">
                            <div class="li-none text-below">
                                <a href="{{ affiliate }}"><p><i class="glyphicon glyphicon-briefcase"></i></p>{{ text_affiliate_add }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="category-box borders">
                            <div class="li-none text-below">
                                <a href="{{ affiliate }}"><p><i class="glyphicon glyphicon-list-alt"></i></p>{{ text_affiliate_edit }}</a>
                            </div>
                        </div>
                        <div class="category-box borders">
                            <div class="li-none text-below">
                                <a href="{{ tracking }}"><p><i class="glyphicon glyphicon-list-alt"></i></p>{{ text_tracking }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {#<h2>{{ text_my_affiliate }}</h2>#}
            {#<ul class="list-unstyled">#}
            {#{% if not tracking %}#}
            {#<li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>#}
            {#{% else %}#}
            {#<li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>#}
            {#<li><a href="{{ tracking }}">{{ text_tracking }}</a></li>#}
            {#{% endif %}#}
            {#</ul>#}

            <div class="account-box">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#" class="lock-href">
                            <h2 class="color-gradient">{{ text_my_newsletter }}</h2></a>
                    </li>
                </ul>
                <div class="category-box borders">
                    <div class="li-none text-below">
                        <a href="{{ newsletter }}"><p><i class="glyphicon glyphicon-bookmark"></i></p>{{ text_newsletter }}</a>
                    </div>
                </div>
            </div>
            {#<h2>{{ text_my_newsletter }}</h2>#}
            {#<ul class="list-unstyled">#}
            {#<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
            {#</ul>#}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}