{{ header }}
<div id="account-register" class="container">
    {#  <ul class="breadcrumb">#}
    {#    {% for breadcrumb in breadcrumbs %}#}
    {#    <li><a href="{{ breadcrumb.href }}" class="a">{{ breadcrumb.text }}</a></li>#}
    {#    {% endfor %}#}
    {#  </ul>#}

    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        </div>
    {% endif %}

    <div class="row register-row">{#  {{ column_left }}#}
{#        {% if column_left and column_right %}#}
{#            {% set class = 'col-sm-6' %}#}
{#        {% elseif column_left or column_right %}#}
{#            {% set class = 'col-sm-9' %}#}
{#        {% else %}#}
{#            {% set class = 'col-sm-12' %}#}
{#        {% endif %}#}
       <div id="content" class="col-sm-8">{{ content_top }} {#  <div id="content" class="{{ class }}">{{ content_top }} #}
           <div class="head-register">
               <h1>{{ heading_title }}</h1>
               <p>{{ text_account_already }}</p>
           </div>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset id="account">
                    <legend>{{ text_your_details }}</legend>
                    <div class="form-group required"
                         style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
                        <label class="col-sm-4 control-label">{{ entry_customer_group }}</label>
                        <div class="col-sm-8">{% for customer_group in customer_groups %}
                                {% if customer_group.customer_group_id == customer_group_id %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="customer_group_id"
                                                   value="{{ customer_group.customer_group_id }}" checked="checked"/>
                                            {{ customer_group.name }}</label>
                                    </div>
                                {% else %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="customer_group_id"
                                                   value="{{ customer_group.customer_group_id }}"/>
                                            {{ customer_group.name }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}</div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 col-lg-3 control-label" for="input-firstname">{{ entry_firstname }}</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="text" name="firstname" value="{{ firstname }}"
                                   placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
                            {% if error_firstname %}
                                <div class="text-danger">{{ error_firstname }}</div>
                            {% endif %} </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-4 col-lg-3 control-label" for="input-lastname">{{ entry_lastname }}</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}"
                                   id="input-lastname" class="form-control"/>
                            {% if error_lastname %}
                                <div class="text-danger">{{ error_lastname }}</div>
                            {% endif %} </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-4 col-lg-3 control-label" for="input-email">{{ entry_email }}</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}"
                                   id="input-email" class="form-control"/>
                            {% if error_email %}
                                <div class="text-danger">{{ error_email }}</div>
                            {% endif %} </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-4 col-lg-3 control-label" for="input-telephone">{{ entry_telephone }}</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="tel" name="telephone" value="{{ telephone }}"
                                   placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
                            {% if error_telephone %}
                                <div class="text-danger">{{ error_telephone }}</div>
                            {% endif %} </div>
                    </div>

                    {% for custom_field in custom_fields %}
                        {% if custom_field.type == 'select' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label"
                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                            id="input-custom-field{{ custom_field.custom_field_id }}"
                                            class="form-control">
                                        <option value="">{{ text_select }}</option>
                                        {% for custom_field_value in custom_field.custom_field_value %}
                                            {% if register_custom_field[custom_field.location][custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                                                <option value="{{ custom_field_value.custom_field_value_id }}"
                                                        selected="selected">{{ custom_field_value.name }}</option>
                                            {% else %}
                                                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}</div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'radio' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <div> {% for custom_field_value in custom_field.custom_field_value %}
                                            <div class="radio">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                                                    <label>
                                                        <input type="radio"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                               value="{{ custom_field_value.custom_field_value_id }}"
                                                               checked="checked"/>
                                                        {{ custom_field_value.name }}</label>
                                                {% else %}
                                                    <label>
                                                        <input type="radio"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                               value="{{ custom_field_value.custom_field_value_id }}"/>
                                                        {{ custom_field_value.name }}</label>
                                                {% endif %} </div>
                                        {% endfor %}</div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}</div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'checkbox' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <div> {% for custom_field_value in custom_field.custom_field_value %}
                                            <div class="checkbox">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
                                                    <label>
                                                        <input type="checkbox"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                                                               value="{{ custom_field_value.custom_field_value_id }}"
                                                               checked="checked"/>
                                                        {{ custom_field_value.name }}</label>
                                                {% else %}
                                                    <label>
                                                        <input type="checkbox"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                                                               value="{{ custom_field_value.custom_field_value_id }}"/>
                                                        {{ custom_field_value.name }}</label>
                                                {% endif %} </div>
                                        {% endfor %} </div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %} </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'text' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label"
                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                           value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                                           placeholder="{{ custom_field.name }}"
                                           id="input-custom-field{{ custom_field.custom_field_id }}"
                                           class="form-control"/>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %} </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'textarea' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label"
                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <textarea
                                            name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                            rows="5" placeholder="{{ custom_field.name }}"
                                            id="input-custom-field{{ custom_field.custom_field_id }}"
                                            class="form-control">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %} </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'file' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}"
                                            data-loading-text="{{ text_loading }}" class="btn btn-default"><i
                                                class="fa fa-upload"></i> {{ button_upload }}</button>
                                    <input type="hidden"
                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                           value="{% if register_custom_field[custom_field.custom_field_id] %}  {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}</div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'date' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label"
                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <input type="text"
                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                               value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                                               placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD"
                                               id="input-custom-field{{ custom_field.custom_field_id }}"
                                               class="form-control"/>
                                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %} </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'time' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label"
                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <div class="input-group time">
                                        <input type="text"
                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                               value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                                               placeholder="{{ custom_field.name }}" data-date-format="HH:mm"
                                               id="input-custom-field{{ custom_field.custom_field_id }}"
                                               class="form-control"/>
                                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %} </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'time' %}
                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field"
                                 data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-4 control-label"
                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-8">
                                    <div class="input-group datetime">
                                        <input type="text"
                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                               value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                                               placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm"
                                               id="input-custom-field{{ custom_field.custom_field_id }}"
                                               class="form-control"/>
                                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %} </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </fieldset>
                <fieldset>
                    <legend>{{ text_your_password }}</legend>
                    <div class="form-group required">
                        <label class="col-sm-4 col-lg-3 control-label" for="input-password">{{ entry_password }}</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="password" name="password" value="{{ password }}"
                                   placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                            {% if error_password %}
                                <div class="text-danger">{{ error_password }}</div>
                            {% endif %} </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 col-lg-3 control-label" for="input-confirm">{{ entry_confirm }}</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="password" name="confirm" value="{{ confirm }}"
                                   placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
                            {% if error_confirm %}
                                <div class="text-danger">{{ error_confirm }}</div>
                            {% endif %} </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ text_newsletter }}</legend>
                    <div class="form-group">
                        <label class="col-sm-4 col-lg-3 control-label">{{ entry_newsletter }}</label>
                        <div class="col-sm-8 col-lg-9"> {% if newsletter %}
                                <label class="radio-inline">
                                    <input type="radio" name="newsletter" value="1" checked="checked"/>
                                    {{ text_yes }}</label>
                                <label class="radio-inline">
                                    <input type="radio" name="newsletter" value="0"/>
                                    {{ text_no }}</label>
                            {% else %}
                                <label class="radio-inline">
                                    <input type="radio" name="newsletter" value="1"/>
                                    {{ text_yes }}</label>
                                <label class="radio-inline">
                                    <input type="radio" name="newsletter" value="0" checked="checked"/>
                                    {{ text_no }}</label>
                            {% endif %} </div>
                    </div>
                </fieldset>
                {{ captcha }}
                {% if text_agree %}
                    <div class="buttons">
                        <div class="pull-right">
                            <p class="text-agree">{{ text_agree }}
                            {% if agree %}
                                <input id="check" type="checkbox" name="agree" value="1" checked="checked"/></p>
                            {% else %}
                                <input id="check" type="checkbox" name="agree" value="1"/></p>
                            {% endif %}
                            &nbsp;
                            <input type="submit" value="{{ button_continue }}" class="reg-button btn btn-default"/>
                        </div>
                    </div>
                {% else %}
                    <div class="buttons">
                        <div class="pull-right">
                            <input type="submit" value="{{ button_continue }}" class="reg-button btn btn-default"/>
                        </div>
                    </div>
                {% endif %}
            </form>
            {{ content_bottom }}</div>
{#        {{ column_right }} #} </div>
</div>


<script type="text/javascript"><!--
    // Sort the custom fields
    $('#account .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
            $('#account .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') == $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#account .form-group').length) {
            $('#account .form-group:first').before(this);
        }
    });

    $('input[name=\'customer_group_id\']').on('change', function () {
        $.ajax({
            url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
            dataType: 'json',
            success: function (json) {
                $('.custom-field').hide();
                $('.custom-field').removeClass('required');

                for (i = 0; i < json.length; i++) {
                    custom_field = json[i];

                    $('#custom-field' + custom_field['custom_field_id']).show();

                    if (custom_field['required']) {
                        $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('input[name=\'customer_group_id\']:checked').trigger('change');
    //--></script>
<script type="text/javascript"><!--
    $('button[id^=\'button-custom-field\']').on('click', function () {
        var element = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(element).button('loading');
                    },
                    complete: function () {
                        $(element).button('reset');
                    },
                    success: function (json) {
                        $(element).parent().find('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(element).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });
    //--></script>

{{ footer }}
