<form action="{{ action }}" method="post">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" class="btn btn-default" />
        </div>
    </div>
</form>
