@media screen and (max-width: 320px) and (min-width: 240px) {

}

@media screen and (max-width: 420px) and (min-width: 321px) {

}

@media screen and (max-width: 460px) and (min-width: 421px) {

}

@media screen and (max-width: 530px) and (min-width: 421px) {

}

@media screen and (max-width: 530px) and (min-width: 461px) {

}

@media screen and (max-width: 650px) and (min-width: 531px) {

}

@media screen and (max-width: 767px) and (min-width: 651px) {

}

@media screen and (max-width: 880px) and (min-width: 768px) {

}

@media screen and (max-width: 991px) and (min-width: 881px) {

}

@media screen and (max-width: 1199px) and (min-width: 992px) {

}

@media screen and (max-width: 1400px) and (min-width: 1200px) {

}

@media screen and (max-width: 1600px) and (min-width: 1401px) {

}

@media screen and (max-width: 1800px) and (min-width: 1601px) {

}

@media screen and (min-width: 1801px) {

}