.register-row {
    display: flex;
    justify-content: center;
}

form .buttons .pull-right {
    float: none !important;
    text-align: center;
    line-height: 40px;
}

.reg-button {
    position: absolute;
    right: 0;
    overflow: hidden;
}

.form-horizontal .control-label {
    text-align: left;
    padding-right: 0;
    white-space: nowrap;
}


@media screen and (max-width: 320px) and (min-width: 240px) {
    form .buttons .pull-right {
        text-align: center;
        line-height: 20px;
    }

    .reg-button {
        position: inherit;
        right: auto;
    }

    .buttons {
        margin: 1em 1em;
    }
}

@media screen and (max-width: 420px) and (min-width: 321px) {
    form .buttons .pull-right {
        text-align: center;
        line-height: 20px;
    }

    .reg-button {
        position: inherit;
        right: auto;
    }

    .text-agree {
        font-size: 15px;
    }

    .buttons {
        margin: 1em 1em;
    }
}

@media screen and (max-width: 460px) and (min-width: 421px) {
    form .buttons .pull-right {
        text-align: center;
        line-height: 20px;
    }

    .reg-button {
        position: inherit;
        right: auto;
    }
}

@media screen and (max-width: 530px) and (min-width: 421px) {
    .reg-button {
        position: inherit;
        right: auto;
    }
}

@media screen and (max-width: 530px) and (min-width: 461px) {

}

@media screen and (max-width: 650px) and (min-width: 531px) {
    .reg-button {
        position: inherit;
        right: auto;
    }
}

@media screen and (max-width: 767px) and (min-width: 651px) {
    .reg-button {
        position: inherit;
        right: auto;
    }
}

@media screen and (max-width: 880px) and (min-width: 768px) {

    .reg-button {
        position: inherit;
        right: auto;
    }

    .form-horizontal .control-label {
        text-align: left;
        padding: 0;
        white-space: inherit;
    }
}

@media screen and (max-width: 991px) and (min-width: 881px) {
    .reg-button {
        position: inherit;
        right: auto;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .reg-button {
        position: inherit;
        right: auto;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {

}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .radio-inline {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1801px) {
    .form-horizontal .control-label {
        text-align: left;
        padding-left: 5%;
    }
}
