@media screen and (max-width: 320px) and (min-width: 240px) {
    .swiper-wrapper .img-responsive{
        display: inline;
    }
    
    .container.top {
        padding: 5px 15px;
    }

    .product-layout .product-thumb .caption {
        height: 310px;
    }

    .fix-left {
        padding-left: 10px;
    }

    .row.vertical-align {
        display: block;
    }

    /* header */
    .options_site {
        width: 65%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 135px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .pull-left .btn-group .pull-left-btn {
        font-size: 1.5em;
    }

    .btn.currency-select, .btn.language-select, .blog-select, .auth-dropdown .auth {
        font-size: 0.8em;
        padding: 3px 10px;
        line-height: 1.5;
    }

    .dropdown-menu .blog-select {
        padding-left: 10px;
        padding-right: 10px;
    }

    .open:last-child .dropdown-menu {
        left: -60px;
    }

    .links-btn {
        font-size: 10px;
        padding: 10.7px 0 0 0;
        width: 27.333333%;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 12px;
        text-align: center;
    }

    .list-inline {
        margin-bottom: 10px;
    }

    #top-links.pull-right, .footer-select {
        padding-top: 0;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }

    .auth-dropdown {
        left: 0;
        width: 93px;
    }

    #search .search-input-btn {
        padding: 10px;
    }

    #search, #cart {
        margin-bottom: 10px;
    }

    #cart, #cart .cart-btn {
        width: 100%;
    }

    .vertical-align .compare-btn {
        width: 100%;
        text-align: center;
    }

    /* menu */
    .navbar-nav li {
        font-size: 0.8em;
    }

    #menu {
        margin-bottom: 5px;
    }

    #menu .navbar-collapse .nav > li > a {
        padding: 10px 15px 10px 15px;
    }

    #menu .navbar-header #category {
        font-size: 1.2em;
    }

    /* content */
    #common-home h3 {
        font-size: 1.7em;
    }

    /* slider*/
    .swiper-viewport {
        display: block;
    }

    /* Recomends */
    .product-thumb.transition {
        width: 95%;
    }

    .product-thumb .image {
        height: 170px;
    }

    .product-thumb.transition .image img {
        max-height: 170px;
        width: auto;
    }

    .product-thumb.transition .caption {
        padding: 0 10px;
        height: 235px;
    }

    .product-thumb.transition h4 {
        height: 45px;
        font-size: 1.2em;
        margin-top: 5px;
    }

    .product-thumb.transition .caption .product-description {
        height: 100px;
        line-height: 17px;
        font-size: 1.2em;
    }

    .product-thumb .button-group button {
        font-size: 1.4em;
    }

    /* footer */
    .social-container {
        margin-left: 9%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 13px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f-social img {
        width: 14px;
        height: 14px;
    }

    .col-f {
        float: none;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    .col-f h5 {
        font-size: 1.2em;
        width: 190px;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 190px;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

@media screen and (max-width: 420px) and (min-width: 321px) {
    .swiper-wrapper .img-responsive{
        display: inline;
    }
    
    .container.top {
        padding: 5px 15px;
    }

    .horizontal .vertical-align {
        display: flex;
    }

    .vertical-block .vertical-align {
        display: block;
    }

    /* header */
    .options_site {
        width: 70%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 135px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .pull-left .btn-group .pull-left-btn {
        font-size: 1.5em;
    }

    .btn.currency-select, .btn.language-select, .blog-select, .auth-dropdown .auth {
        font-size: 0.85em;
        padding: 3px 10px;
        line-height: 1.5;
    }

    .dropdown-menu .blog-select {
        padding-left: 10px;
        padding-right: 10px;
    }

    .open:last-child .dropdown-menu {
        left: -60px;
    }

    .links-btn {
        font-size: 12px;
        padding: 0;
        width: 22.333333%;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 16px;
        text-align: center;
    }

    .list-inline {
        margin-bottom: 0;
    }

    #top-links.pull-right, .footer-select {
        padding-top: 0;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }

    .auth-dropdown {
        left: 0;
        width: 95px;
    }

    #search .search-input-btn {
        padding: 10px;
    }

    #search, #cart {
        margin-bottom: 10px;
    }

    #cart, #cart .cart-btn {
        width: 100%;
    }

    .vertical-align .compare-btn {
        width: 100%;
        text-align: center;
    }

    /* menu */
    .navbar-nav li {
        font-size: 1em;
    }

    #menu {
        margin-bottom: 5px;
    }

    #menu .navbar-collapse .nav > li > a {
        padding: 0 15px 10px 15px;
    }

    #menu .navbar-header #category {
        font-size: 1.3em;
    }

    /* content */
    #common-home h3 {
        font-size: 1.7em;
    }

    /* slider*/
    .swiper-viewport {
        display: block;
    }

    /* Recomends */
    .product-thumb.transition {
        width: 80%;
    }

    .product-thumb .image {
        height: 170px;
    }

    .product-thumb.transition .image img {
        max-height: 170px;
        width: auto;
    }

    .product-thumb.transition .caption {
        padding: 0 10px;
        height: 235px;
    }

    .product-thumb.transition h4 {
        height: 45px;
        font-size: 1.2em;
        margin-top: 5px;
    }

    .product-thumb.transition .caption .product-description {
        height: 100px;
        line-height: 17px;
        font-size: 1.2em;
    }

    .product-thumb .button-group button {
        font-size: 1.4em;
    }

    /* footer */
    .social-container {
        margin-left: 9%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 14px;
    }
    
    .col-f-social img {
        width: 16px;
        height: 16px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: none;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    .col-f h5 {
        font-size: 1.2em;
        width: 190px;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 190px;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

@media screen and (max-width: 460px) and (min-width: 421px) {

    /* footer */

    .col-f {
        float: none;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
    }

    .col-f h5 {
        font-size: 1.3em;
        width: 220px;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 200px;
        line-height: 1.3;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

@media screen and (max-width: 530px) and (min-width: 421px) {
    .swiper-wrapper .img-responsive{
        display: inline;
    }
    
    .container.top {
        padding: 5px 15px;
    }

    .horizontal .vertical-align {
        display: flex;
    }

    .vertical-block .vertical-align {
        display: block;
    }

    /* header */
    .options_site {
        width: 75%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 135px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .pull-left .btn-group .pull-left-btn {
        font-size: 1.5em;
    }

    .btn.currency-select, .btn.language-select, .blog-select, .auth-dropdown .auth {
        font-size: 0.85em;
        padding: 3px 10px;
        line-height: 1.5;
    }

    .dropdown-menu .blog-select {
        padding-left: 10px;
        padding-right: 10px;
    }

    .vertical-align .compare-btn {
        width: 100%;
        text-align: center;
    }

    .open:last-child .dropdown-menu {
        left: 0;
    }

    .links-btn {
        font-size: 12px;
        padding: 0;
        width: 20.333333%;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 18px;
        text-align: center;
    }

    .img-responsive {
        height: 150px;
    }

    .list-inline {
        margin-bottom: 0;
        margin-left: 10px;
    }

    #top-links.pull-right {
        padding-top: 0;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .pull-right {
        float: right !important;
    }

    .auth-dropdown {
        left: 0;
        width: 105px;
    }

    /* search and cart buttons */
    #search .search-input-btn {
        padding: 10px 15px;
    }

    #search, #cart {
        margin-bottom: 10px;
    }

    #cart, #cart .cart-btn {
        width: 100%;
    }

    /* menu */
    .navbar-nav li {
        font-size: 1em;
    }

    #menu {
        margin-bottom: 5px;
    }

    #menu .navbar-collapse .nav > li > a {
        padding: 0 15px 10px 15px;
    }

    #menu .navbar-header #category {
        font-size: 1.3em;
    }

    /* content */
    #common-home h3 {
        font-size: 1.8em;
    }

    /* slider*/
    .swiper-viewport {
        display: block;
    }

    /* Recomends */
    .product-thumb.transition {
        width: 75%;
    }

    .product-thumb .image {
        height: 190px;
    }

    .product-thumb.transition .image img {
        max-height: 190px;
        width: auto;
    }

    .product-thumb.transition .caption {
        padding: 0 10px;
        height: 260px;
    }

    .product-thumb.transition h4 {
        height: 50px;
        font-size: 1.2em;
        margin-top: 5px;
    }

    .product-thumb.transition .caption .product-description {
        height: 120px;
        line-height: 25px;
        font-size: 1.2em;
    }

    .product-thumb .button-group button {
        font-size: 1.4em;
    }

    .social-container {
        margin-left: 9%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 18px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }
}

@media screen and (max-width: 530px) and (min-width: 461px) {
    /* footer */


    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 175px;
        height: 110px;
        padding: 0;
        margin-left: 12%;
    }

    .col-f h5 {
        font-size: 1.1em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 650px) and (min-width: 531px) {
    .swiper-wrapper .img-responsive{
        display: inline;
    }
    
    .container {
        padding: 5px 25px;
    }

    .horizontal .vertical-align {
        display: flex;
    }

    .vertical-block .vertical-align {
        display: block;
    }

    /* header */
    .options_site {
        width: 80%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 135px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .pull-left .btn-group .pull-left-btn {
        font-size: 1.5em;
    }

    .btn.currency-select, .btn.language-select, .blog-select, .auth-dropdown .auth {
        font-size: 0.85em;
        padding: 3px 10px;
        line-height: 1.5;
    }

    .vertical-align .compare-btn {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu .blog-select {
        padding-left: 10px;
        padding-right: 10px;
    }

    .open:last-child .dropdown-menu {
        left: 0;
    }

    .links-btn {
        font-size: 15px;
        padding: 0;
        width: 19.333333%;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 20px;
        text-align: center;
    }

    .img-responsive {
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .list-inline {
        margin-bottom: 0;
        margin-right: 25px;
    }

    #top-links.pull-right {
        padding-top: 0;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .auth-dropdown {
        left: 0;
        width: 120px;
    }

    /* search and cart buttons */
    #search .search-input-btn {
        padding: 10px 15px;
    }

    #search, #cart {
        margin-bottom: 10px;
    }

    /*.input-group {*/
        /*width: 50%;*/
    /*}*/

    #cart, #cart .cart-btn {
        width: 100%;
    }

    /* menu */
    .navbar-nav li {
        font-size: 1em;
    }

    #menu {
        margin-bottom: 5px;
    }

    #menu .navbar-collapse .nav > li > a {
        padding: 0 15px 10px 15px;
    }

    #menu .navbar-header #category {
        font-size: 1.3em;
    }

    /* content */
    #common-home h3 {
        font-size: 1.8em;
    }

    /* slider*/
    .swiper-viewport {
        display: block;
    }

    /* Recomends */
    .product-thumb.transition {
        width: 75%;
    }

    .product-thumb .image {
        height: 190px;
    }

    .product-thumb.transition .image img {
        max-height: 190px;
        width: auto;
    }

    .product-thumb.transition .caption {
        padding: 0 10px;
        height: 260px;
    }

    .product-thumb.transition h4 {
        height: 50px;
        font-size: 1.2em;
        margin-top: 5px;
    }

    .product-thumb.transition .caption .product-description {
        height: 120px;
        line-height: 25px;
        font-size: 1.2em;
    }

    .product-thumb .button-group button {
        font-size: 1.4em;
    }

    /* footer */
    .social-container {
        margin-left: 9%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 18px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 175px;
        height: 110px;
        padding: 0;
        margin-left: 12%;
    }

    .col-f h5 {
        font-size: 1.1em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) and (min-width: 651px) {
    .swiper-wrapper .img-responsive{
        display: inline;
    }
    
    .options_site {
        width: 84%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .links-btn {
        font-size: 14px;
        padding: 0;
        width: 14.333333%;
        height: 30px;
    }

    .container {
        padding: 5px 25px;
    }

    .container.white_background .row {
        display: block;
    }

    .white_background .top {
        padding: 5px 25px;
    }

    .pull-left .btn-group > .dropdown-menu{
        font-size: 1.2em;
    }

    .pull-left .btn-group > .btn{
        font-size: 1.6em;
    }

    .vertical-align .compare-btn {
        width: 100%;
        text-align: center;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 20px;
        text-align: center;
    }

    .pull-right .list-inline{
        font-size: 1.6em;
        padding-right: 10px;
    }

    .vertical-align{
        margin-top: 10px;
    }

    .vertical-align .input-group{
        margin: 0 0 10px 0;
    }

    .vertical-align .img-responsive {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .swiper-viewport {
        display: block;
    }

    /*!* Recomends *!*/
    .product-thumb.transition {
        width: 60%;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 17%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 18px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 175px;
        height: 105px;
        padding: 0;
        margin-left: 19%;
    }

    .col-f h5 {
        font-size: 1.1em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 880px) and (min-width: 768px) {
    .showcase-list .product-thumb {
        width: 70% !important;
    }

    .showcase-list {
        width: 100%;
    }

    .swiper-wrapper .img-responsive {
        display: inline;
    }
    
    .options_site {
        width: 84%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .links-btn {
        font-size: 14px;
        padding: 0;
        width: 14.333333%;
        height: 30px;
    }

    .container.top {
        padding-top: 15px;
    }

    .container {
        width: 680px;
    }

    .container.white_background .vertical-align {
        display: block;
    }

    .product-list .product-thumb .caption {
        margin-left: 0 !important;
    }

    .product-thumb {
        width: 100% !important;
    }

    .product-thumb .caption {
        height: 350px !important;
    }

    .pull-left .btn-group > .btn {
        font-size: 1.5em;
    }

    .row.vertical-align .number {
        font-size: 1.6em;
    }

    .nav.pull-right .list-inline {
        padding-right: 10px;
        font-size: 1.5em;
    }

    .row .navbar {
        margin-top: 5px;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 20px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 24px;
        text-align: center;
    }

    .vertical-align .img-responsive {
        display: block;
        max-width: 80%;
        margin: auto;
    }

    .navbar-header .visible-xs {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display:block !important;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 14%;
    }

    .col-f-social {
        width: 70%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 18px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 225px;
        height: 110px;
        padding: 0;
        margin-left: 16%;
    }

    .col-f h5 {
        font-size: 1.2em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 991px) and (min-width: 881px) {
    .showcase-list .product-thumb {
        width: 70% !important;
    }

    .showcase-list {
        width: 100%;
    }

    .swiper-wrapper .img-responsive{
        display: inline;
    }
    
    .options_site {
        width: 85%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .links-btn {
        font-size: 14px;
        padding: 0;
        width: 11.333333%;
        height: 30px;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        margin-bottom: 20px;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 24px;
        text-align: center;
    }

    .vertical-align .img-responsive {
        display: block;
        max-width: 80%;
        margin: auto;
    }

    .container.top {
        padding-top: 15px;
    }

    .container {
        width: 750px;
    }

    .container.white_background .vertical-align {
        display: block;
    }

    .product-list .product-thumb .caption {
        margin-left: 0 !important;
    }

    .product-thumb {
        width: 100% !important;
    }

    .product-thumb .caption {
        height: 350px !important;
    }

    .pull-left .btn-group > .btn {
        font-size: 1.5em;
    }

    .row.vertical-align .number {
        font-size: 1.6em;
    }

    .nav.pull-right .list-inline {
        padding-left: 0;
        font-size: 1.5em;
    }

    .row .navbar {
        margin-top: 5px;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .navbar-header .visible-xs {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display:block !important;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 14%;
    }

    .col-f-social {
        width: 70%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 19px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 250px;
        height: 110px;
        padding: 0;
        margin-left: 16%;
    }

    .col-f h5 {
        font-size: 1.2em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .showcase-list {
        width: 100%;
    }

    .options_site {
        width: 88%;
        padding-left: auto;
        padding-right: 0;
    }

    .options_site_menu {
        height: 45px;
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .links-btn {
        font-size: 14px;
        padding: 0;
        width: 9.333333%;
        height: 30px;
    }

    .container.top {
        padding-top: 15px;
    }

    .product-layout .product-thumb {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        overflow: auto;
        width: 64%;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 920px;
    }

    .container.white_background .vertical-align {
        display: block;
    }

    .pull-left .btn-group > .btn {
        font-size: 1.5em;
    }

    .nav.pull-right .list-inline {
        padding-left: 0;
        font-size: 1.5em;
    }

    .row .navbar {
        margin-top: 5px;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 18px;
        text-align: center;
    }

    .md-center {
        margin-top: 10px;
    }

    .navbar-header .visible-xs {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display:block !important;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 14%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 20px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 250px;
        height: 110px;
        padding: 0;
        margin-left: 16%;
    }

    .col-f h5 {
        font-size: 1.2em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .swiper-wrapper .img-responsive {
        display: inline;
    }
    
    .options_site {
        width: 65%;
        padding-left: auto;
        padding-right: 0;
    }

    .links-btn {
        width: 35.333333%;
    }

    .pull-left .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
        font-size: 1.2em;
    }

    .vertical-align .number {
        height: 45px;
        padding: 0;
        vertical-align: middle;
    }

    .on-computer {
        font-size: 14px;
        text-align: center;
    }

    .md-center {
        margin-top: -21px;
    }

    .pull-right .list-inline {
        padding-left: 0;
        font-size: 1.1em;
        margin-left: 125px;
    }

    .container {
        width: 1170px;
    }

    .vertical-align .compare-btn {
        width: 100%;
        text-align: center;
        white-space: normal;
        padding: 5px 12px;
        line-height: 1;
    }

    .vertical-align .compare-btn i {
        display: none;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .product-layout .product-thumb {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        overflow: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .white_background #menu .nav > li > a {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        padding: 10px 8px 10px 5px;
        min-height: 15px;
        background-color: transparent;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .dropdown .dropdown-menu {
        margin-left: -18px !important;
    }

    .white_background #menu .dropdown-inner ul {
        display: block;
    }

    .pull-right {
        float: none !important;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 3.5%;
    }

    .col-f-social {
        width: 100%;
    }

    .col-f-social {
        width: 40%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 23px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 220px;
        height: 150px;
        padding: 0;
        margin-left: 5%;
    }

    .col-f h5 {
        font-size: 1.5em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.4em;
        margin-left: auto;
        margin-right: auto;
    }

    .hide-img {
        display: none;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .swiper-wrapper .img-responsive {
        display: inline;
    }
    
    .options_site {
        width: 65%;
        padding-left: auto;
        padding-right: 0;
    }

    .links-btn {

        width: 34.333333%;
    }

    .container {
        width: 1390px;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .md-center {
        margin-top: -21px;
    }

    .white_background #menu .nav > li > a {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        padding: 10px 15px 10px 15px;
        min-height: 15px;
        background-color: transparent;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 8%;
    }

    .col-f-social {
        width: 40%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 23px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 220px;
        height: 150px;
        padding: 0;
        margin-left: 9%;
    }

    .col-f h5 {
        font-size: 1.5em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.4em;
        margin-left: auto;
        margin-right: auto;
    }

    .hide-img {
        display: none;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1601px) {
    .swiper-wrapper .img-responsive {
        display: inline;
    }
    
    .options_site {
        width: 65%;
        padding-left: auto;
        padding-right: 0;
    }

    .links-btn {
        width: 34.333333%;
    }

    .container {
        width: 1580px;
    }

    .vertical-align .btn-block {
        width: 100%;
    }

    .md-center {
        margin-top: -25px;
    }

    /*!* footer *!*/
    .social-container {
        margin-left: 9%;
    }

    .col-f-social {
        width: 35%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 23px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 220px;
        height: 150px;
        padding: 0;
        margin-left: 10%;
    }

    .col-f h5 {
        font-size: 1.5em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.4em;
        margin-left: auto;
        margin-right: auto;
    }

    .hide-img {
        display: none;
    }
}

@media screen and (min-width: 1801px) {
    .swiper-wrapper .img-responsive {
        display: inline;
    }
    
    .options_site {
        width: 65%;
        padding-left: auto;
        padding-right: 0;
    }

    .links-btn {
        width: 34.333333%;
    }

    .container {
        width: 1700px;
    }

    .vertical-align .btn-block {
        width: 100%;
    }
    
    .vertical-align #logo img {
        width: 534px;
        height: 155px;
    }

    .md-center {
        margin-top: -25px;
    }

    .navbar-collapse.collapse {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
    }

    .white_background #menu .nav > li > a {

    }
    /*!* footer *!*/
    .social-container {
        margin-left: 10%;
    }

    .col-f-social {
        width: 30%;
    }

    .col-f-social span {
        font-weight: bold;
        color: #794c72;
        font-size: 23px;
    }
    
    .col-f-social .img-f {
        padding-left: 5px;
    }

    .col-f {
        float: left;
        margin-bottom: 15px;
        margin-right: auto;
        width: 220px;
        height: 150px;
        padding: 0;
        margin-left: 11%;
    }

    .col-f h5 {
        font-size: 1.5em;
        width: 100%;
    }

    .col-f .footer_list {
        margin-bottom: 0;
        width: 100%;
        line-height: 1.4;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .footer-select {
        padding-top: 0;
        font-size: 1.4em;
        margin-left: auto;
        margin-right: auto;
    }

    .hide-img {
        display: none;
    }
}
