@media screen and (max-width: 320px) and (min-width: 240px) {
    .container .category-box {
        width: 170px;
        height: 220px;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }

    .container .category-box img {
        width: 150px;
        height: 150px;
    }

    .container .category-box .text-below {
        font-size: 15px;
        text-align: center;
        /*position: absolute;*/
    }

    .container .ul-padding {
        padding-left: 5px;
    }

    .product-thumb .caption {
        margin-top: 40px;
    }
}

@media screen and (max-width: 420px) and (min-width: 321px) {
    .container .category-box {
        width: 200px;
        height: 250px;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }

    .container .category-box img {
        width: 180px;
        height: 180px;
    }

    .container .category-box .text-below {
        font-size: 17px;
        text-align: center;
        /*position: absolute;*/
    }

    .container .ul-padding {
        padding-left: 5px;
    }

    .product-thumb .caption {
        margin-top: 40px;
    }
}

@media screen and (max-width: 530px) and (min-width: 421px) {
    .container .ul-padding {
        padding: 0;
    }

    .category-box.borders {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .category-box .text-below {
        height: 305px;
    }

    .img-container a img {
        max-height: 200px;
        width: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 530px) and (min-width: 461px) {

}

@media screen and (max-width: 650px) and (min-width: 531px) {
    .container .ul-padding {
        padding: 0;
    }

    .category-box.borders {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 290px;
    }

    .category-box .text-below {
        height: 305px;
        width: inherit;
    }

    .img-container a img {
        max-height: 230px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
    }

    .product-layout .product-thumb {
        width: 60%;
    }
}

@media screen and (max-width: 767px) and (min-width: 651px) {
    .product-layout .product-thumb {
        width: 60%;
    }

    .container .ul-padding {
        padding: 0;
        text-align: center;
    }


    .category-box .text-below {
        height: 305px;
        width: inherit;
    }

    .img-container a img {
        max-height: 230px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
    }
}

@media screen and (max-width: 880px) and (min-width: 768px) {
    .product-layout.col-sm-6 {
        width: 100%;
    }

    .container .ul-padding {
        padding: 0;
        text-align: center;
    }

    .category-box .text-below {
        height: 305px;
        width: inherit;
    }

    .img-container a img {
        margin-top: 10px;
        max-height: 230px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
    }
}

@media screen and (max-width: 991px) and (min-width: 881px) {
    .product-layout.col-sm-6 {
        width: 100%;
    }

    .container .ul-padding {
        padding: 0;
        text-align: center;
    }

    .category-box .text-below {
        height: 305px;
        width: inherit;
    }

    .img-container a img {
        margin-top: 10px;
        max-height: 230px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
    }

}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .container .ul-padding {
        padding: 0;
        text-align: center;
    }

    .category-box .text-below {
        height: 270px;
        width: inherit;
    }

    .img-container a img {
        margin-top: 10px;
        max-height: 200px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
    }

    .container .category-box {
        width: 230px;
        height: 275px;
    }

    #content .column {
        width: 100%;
    }

    .column .col-md-3 {
        width: 50% !important;
    }

    .product-layout .product-thumb {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .container .ul-padding {
        padding: 0;
        text-align: center;
    }

    .category-box .text-below {
        height: 245px;
        width: inherit;
    }

    .img-container a img {
        margin-top: 10px;
        max-height: 160px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
    }

    .container .category-box {
        width: 185px;
        height: 245px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .container .ul-padding {
        padding: 0;
        text-align: center;
    }

    .category-box .text-below {
        height: 270px;
        width: inherit;
    }

    .img-container a img {
        margin-top: 10px;
        max-height: 180px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
        font-size: 21px;
    }

    .container .category-box {
        width: 230px;
        height: 270px;
    }

    .img-container {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1601px) {
    .container .ul-padding {
        padding: 0;
        text-align: center;
    }

    .category-box .text-below {
        height: 270px;
        width: inherit;
    }

    .img-container a img {
        margin-top: 10px;
        max-height: 180px;
        width: auto;
    }

    .text-below .describe {
        width: inherit;
        font-size: 18px;
    }

    .container .category-box {
        width: 200px;
        height: 270px;
    }

    .img-container {
        margin-bottom: 10px;
    }
}
