@media screen and (max-width: 320px) and (min-width: 240px) {
    #content h1 {
        font-size: 30px;
    }

    #main-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 12px;
    }

    .btn-indent {
        display: none;
    }

    #content .buttons {
        text-align: center;
    }

    .buttons .pull-left {
        float: inherit !important;
    }

    .buttons .pull-right {
        float: inherit !important;
        margin-top: 10px;
    }
}

@media screen and (max-width: 420px) and (min-width: 321px) {
    #content h1 {
        font-size: 30px;
    }

    #main-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 12px;
    }

    .btn-indent {
        display: none;
    }

    #content .buttons {
        text-align: center;
    }

    .buttons .pull-left {
        float: inherit !important;
    }

    .buttons .pull-right {
        float: inherit !important;
        margin-top: 10px;
    }
}

@media screen and (max-width: 460px) and (min-width: 421px) {
    #content h1 {
        font-size: 30px;
    }

    #main-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 12px;
    }

    .btn-indent {
        display: none;
    }

    #content .buttons {
        text-align: center;
    }

    .buttons .pull-left {
        float: inherit !important;
    }

    .buttons .pull-right {
        float: inherit !important;
        margin-top: 10px;
    }
}

@media screen and (max-width: 530px) and (min-width: 421px) {

}

@media screen and (max-width: 530px) and (min-width: 461px) {
    #content h1 {
        font-size: 30px;
    }

    #main-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 12px;
    }

    .btn-indent {
        display: none;
    }
}

@media screen and (max-width: 650px) and (min-width: 531px) {
    #content h1 {
        font-size: 30px;
    }

    #main-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 12px;
    }

    .btn-indent {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 651px) {
    #content h1 {
        font-size: 30px;
    }

    #main-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 14px;
    }

    .btn-indent {
        display: none;
    }
}

@media screen and (max-width: 880px) and (min-width: 768px) {
    #content h1 {
        font-size: 30px;
    }

    #second-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 14px;
    }

    .btn-indent {
        display: none;
    }

    #collapse-voucher .panel-body .col-sm-2 {
        width: 30.666667%;
    }

    #collapse-coupon .panel-body .col-sm-2 {
        width: 30.666667%;
    }
}

@media screen and (max-width: 991px) and (min-width: 881px) {
    #content h1 {
        font-size: 30px;
    }

    #second-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 14px;
    }

    .btn-indent {
        display: none;
    }

    #collapse-voucher .panel-body .col-sm-2 {
        width: 30.666667%;
    }

    #collapse-coupon .panel-body .col-sm-2 {
        width: 30.666667%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    #content h1 {
        font-size: 35px;
    }

    #second-table {
        display: none;
    }

    .text-left .form-control {
        height: 30px;
    }

    .text-left .btn {
        padding: 3.6px 7px;
        line-height: 1.5;
    }

    .text-left .btn-default {
        height: 30px;
    }

    .text-left .btn-block {
        width: 0;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 16px;
    }

    .btn-indent {
        display: none;
    }

    #collapse-voucher .panel-body .col-sm-2 {
        width: 30.666667%;
    }

    #collapse-coupon .panel-body .col-sm-2 {
        width: 30.666667%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    #content h1 {
        font-size: 40px;
    }

    #second-table {
        display: none;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 18px;
    }

    .btn-not-indent {
        display: none;
    }

    .buttons .pull-right {
        float: right !important;
    }

    #collapse-voucher .panel-body .col-sm-2 {
        width: 24.666667%;
    }

    #collapse-coupon .panel-body .col-sm-2 {
        width: 24.666667%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    #content h1 {
        font-size: 40px;
    }

    #second-table {
        display: none;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 18px;
    }

    .btn-not-indent {
        display: none;
    }

    .buttons .pull-right {
        float: right !important;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1601px) {
    #content h1 {
        font-size: 40px;
    }

    #second-table {
        display: none;
    }

    .text-left .btn {
        padding: 9.4px 12px;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }

    .panel-group .panel-title {
        font-size: 18px;
    }

    .btn-not-indent {
        display: none;
    }

    .buttons .pull-right {
        float: right !important;
    }
}

@media screen and (min-width: 1801px) {
    #second-table {
        display: none;
    }

    .btn-not-indent {
        display: none;
    }

    .text-left .btn {
        padding: 9.4px 12px;
    }
}