.li-none {
    padding: 0 10px;
}
@media screen and (max-width: 320px) and (min-width: 240px) {
    .container .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 190px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 420px) and (min-width: 321px) {
    .container .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 250px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 530px) and (min-width: 421px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 530px) and (min-width: 461px) {

}

@media screen and (max-width: 650px) and (min-width: 531px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 767px) and (min-width: 651px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 880px) and (min-width: 768px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 991px) and (min-width: 881px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .container  .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}

@media screen and (min-width: 1601px) {
    .container .account-box .ul-padding {
        padding: 0;
        text-align: center;
    }

    .account-box .category-box .text-below {
        height: 150px;
        width: inherit;
    }

    .container .account-box .category-box {
        width: 285px;
        height: 150px;
        vertical-align: bottom;
    }

    .account-box .glyphicon {
        font-size: 40px;
        margin-top: 40px;
    }

    .li-none a {
        display: block;
        height: 100%;
    }
}
