@import url(responsive.css);
@import url(responsive-product.css);
@import url(responsive-cart.css);
@import url(responsive-account.css);

:root {
    --top-menu-color: #be87b7;
    --top-links: #fff;
    --btn-link: #794c72;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
}

.white_background {
    background-color: #fff;
}

.white_background .container .horizontal {
    background-color: var(--btn-link);
    border-radius: 4px;
}

.horizontal .dropdown-menu {
    background-color: var(--btn-link);
}

.dropdown-menu {
    background-color: var(--top-links);
}

.dropdown-menu > li > a {
    color: var(--top-links);
}

.btn-link:hover {
    color: var(--top-links);
    text-decoration: none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #ee000800;
    border-color: #fff;
}

.btn-link:focus, .btn-link:hover {
    color: #fff;
    text-decoration: none;
}

.site-map {
    margin-right: 3px;
    padding: 3px 0 0 4px;
}

.site-map-ul-lvl2 {
    padding-left: 8px;
    list-style: none;
}

.site-map-border {
    border: 1px solid #8a008a;
}

.lock-href {
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

/* default font size */

/* Override the bootstrap defaults */
h1 {
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

.pagination > li > a, .pagination > li > span {
    color: #794c72;
}

.pagination > .active > span, .pagination > .active > span:hover {
    background-color: #794c72;
    border-color: #be87b7;
}

a {
    color: #794c72;
}

.on-computer a {
    color: var(--btn-link);
}

.on-mobile a {
    color: var(--btn-link);
}

.a {
    color: #ffffff;
    font-weight: bold;
}

.a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 4px #ffffff;
}

a:focus, a:hover {
    color: #be87b7;
    text-decoration: none;
}

a:hover {
    color: #be87b7;
    text-decoration: none;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 12px;
    font-weight: normal;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}

.input-group-new {
    color: #FFF;
    background-color: #be87b7;
    border: 1px solid #be87b7;
    font-weight: bold;
}

.dropdown-menu {
    min-width: auto;
}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
    display: inline;
}

.navbar-nav {
    margin: 0 auto;
    float: none;
    font-size: 1em;
}

.site-map-top {
    margin-top: 30px;
}

.li-none {
    list-style-type: none;
}

.addthis_counter a.atc_s {
    font-size: 11px;
    font-weight: 100;
    color: #fff;
    padding: 0 5px 0 20px;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: none;
    margin-left: 13px;
}

.category-box {
    margin: 10px;
    width: 255px;
    height: 310px;
    background-color: #fff;
    border: 0.9px solid #dee2e6;
    border-radius: .35rem;
    position: relative;
    display: inline-block;
}

.li-none a {
    color: #8b008b;
}

.li-none a:hover {
    color: #be87b7;
}


.img-container img {
    object-fit: contain;
    max-height: 240px;
    width: auto;
}

.describe {
    height: 60px;
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}


.text-below {
    font-size: 17px;
    text-align: center;
    height: 330px;
}


.number {
    font-size: 1.4em;
}

.navbar-nav > li {
    width: auto;
}

.nav-tabs {
    margin-bottom: 15px;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    background-color: #be87b7;
    background-repeat: repeat-x;
}

/* top */
.top {
    padding: 5px 15px 15px 10px;
    min-height: 20px;
}

#top .container {
    padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#top .btn-link, #top-links li, #top-links a {
    color: var(--top-links);
    /*text-shadow: 0 1px 0 var(--top-links);*/
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

#top .btn-link:hover, #top-links a:hover {
    color: var(--top-links);
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 6px;
}

#top-links a + a {
    margin-left: 15px;
}

/* logo */
#logo {
    margin: 0 0 10px 0;
}

/* search */

#search .input-lg {
    line-height: 20px;
    padding: 0 10px;
    border-color: #8B008B;
    height: 40px;
}

#search button {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 35px;
    text-shadow: 0 1px 0 #FFF;
}

.collapse {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* cart */
#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

#cart.open > .btn {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #666;
    box-shadow: none;
    text-shadow: none;
}

#cart.open > .btn:hover {
    color: #fff;
}

#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
}

#cart .dropdown-menu {
    min-width: 100%;
}

#cart .cart-btn {
    background-color: #794c72;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#cart .cart-btn:hover {
    background-color: #be87b7;
    color: #fff;
}

.compare-btn:hover {
    background-color: #be87b7;
    color: #fff;
}

.compare-btn {
    background-color: #794c72;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
    }
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}

@media (max-width: 478px) {
    #cart .dropdown-menu li > div {
        min-width: 100%;
    }
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}

/* menu */
#menu {
    background-color: #be87b7;
    background-image: linear-gradient(to bottom, #be87b7, #be87b7);
    background-repeat: repeat-x;
    border-color: #be87b7 #be87b7 #be87b7;
    min-height: 40px;
    width: 100%;
}

#menu .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 29px 10px 15px;
    min-height: 15px;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#menu .nav > li > a:hover, #menu .nav > li.open > a {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
    padding-bottom: 0;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    min-width: 330px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 0.97em;
}

.categ_name {
    font-size: 1em;
    line-height: 5px;
}

.categ_name:hover {
    font-size: 1.04em;
}


#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    color: var(--btn-link);
}

#menu .see-all:hover, #menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--top-menu-color);
    background-repeat: repeat-x;
}

#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #794c72, #794c72);
    background-repeat: repeat-x;
    border-color: #794c72 #794c72 #794c72;
}

#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #229ac8;
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    #menu {
        border-radius: 4px;
    }

    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }

    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #menu .dropdown-inner {
        display: block;
    }

    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }

    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}

/* content */
#content {
    min-height: 600px;
}

#common-home h3 {
    font-size: 25px;
    background: linear-gradient(45deg, rgb(98, 9, 191) 20%, rgb(158, 9, 177) 0%, rgb(98, 9, 191) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin-bottom: 20px;
}

.color-gradient {
    background: linear-gradient(45deg, rgb(98, 9, 191) 20%, rgb(158, 9, 177) 0%, rgb(98, 9, 191) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    line-height: 1.3;
}

/* footer */
footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #fff;
    border-top: 1px solid #8B008B;
    color: #8B008B;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a {
    color: #794c72;
    font-size: 1.3em;
}

footer a:hover {
    color: #ff04e4;
    font-size: 16px;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #794c72;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
}

.footer_list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
    line-height: 1.6;
}

.f-col {
    height: 135px;
}

/* alert */
.alert {
    padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
    height: 38px;
    margin: 0 0 20px 0;
    padding: 8px 0;
    border: 1px solid #ddd;
    background-color: #be87b7;
}

.breadcrumb i {
    font-size: 15px;
}

.breadcrumb > li {
    height: inherit;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}

.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination {
    margin: 0;
}

/* buttons */
.buttons {
    margin: 1em 0;
}

.btn {
    padding: 8.7px 5px;
    text-align: left;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-center {
    text-align: center;
}

.form-control {
    height: 40px;
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 1.3em;
}

.btn-group > .btn-xs {
    font-size: 9px;
}

.btn-group > .btn-sm {
    font-size: 10.2px;
}

.btn-group > .btn-lg {
    font-size: 15px;
}

.btn-default {
    font-weight: bold;
    height: 40px;
    color: #fff;
    background-color: #794c72;
    background-repeat: repeat-x;
    border-color: #794c72;
}

.btn-default:hover, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
    background-color: #be87b7;
    color: #fff;
    background-position: 0 -15px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--btn-link);
    background-image: linear-gradient(to bottom, var(--btn-link), var(--btn-link));
    background-repeat: repeat-x;
    border-color: var(--btn-link) var(--btn-link) var(--btn-link);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #1f90bb;
    background-position: 0 -15px;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: var(--top-links);
    border-radius: 0;
}

.btn-link-category {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #8a008a;
    border-radius: 0;
}

.btn-link-category:hover {
    color: #8a4f88;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: none;
    box-shadow: none;
}

.btn-default.active:hover {
    color: #333;
    background-color: #794c72;
    border-color: #8c8c8c;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}

.btn-block {
    width: 95%;
}

.btn-block-new {
    width: 100%;
}

.lvl3 {
    list-style: none;
}

/* list group */
.list-group a {
    border: 1px solid #be87b7;
    color: #2a2a2a;
    padding: 8px 12px;
    font-weight: bold;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #ffffff;
    background: #be87b7;
    border: 1px solid #be87b7;
}

/* carousel */
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}

/* product list */
.product-thumb {
    border: 1px solid #ddd;
    box-shadow: 0 0 6px -3px rgba(185, 8, 255, 0.86);
    margin-bottom: 20px;
    overflow: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.borders {
    box-shadow: 0 0 6px -3px rgba(185, 8, 255, 0.86);
}

.product-thumb:hover, .borders:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px -3px rgba(185, 8, 255, 0.86);
}

.product-thumb .image {
    text-align: center;
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image a:hover {
    opacity: 0.8;
}

.product-thumb .image img {
    margin: 10px auto 10px auto;
    object-fit: contain;
    max-height: 200px;
    width: auto;

}

.product-grid .product-thumb .image {
    float: none;
}

.list-inline {
    padding-left: 0;
    font-size: 1.3em;
}

@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
    }
}

.product-thumb h4 {
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    margin-top: 0;
}

.product-thumb .caption {
    padding: 0 20px;
    height: 280px;
}

.product-thumb .caption .product-description {
    height: 135px;
    margin-bottom: 0;
    overflow: hidden;
}

.product-list .product-thumb .caption {
    margin-left: 230px;
}

@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }

    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    position: absolute;
    height: 30px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star + .fa-star-o {
    color: #E69500;
}

h2.price {
    margin: 0;
}

.product-thumb .price {
    color: #444;
    height: 35px;
    margin-top: 35px;
    margin-bottom: 0;
}

.product-thumb .price-new {
    font-weight: 600;
}

.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}

.product-thumb .button-group button {
    width: 100%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #794c72;
    color: #fff;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

.product-thumb .button-group button + button {
    width: 50%;
    border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
    color: #444;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    /*.product-thumb .button-group button, .product-thumb .button-group button + button {*/
    /*    width: 33.33%;*/
    /*}*/
}

@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 100%;
    }
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumbnails > li {
    margin-left: 20px;
}

.thumbnails {
    margin-left: -20px;
}

.thumbnails > img {
    width: 100%;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
}

.image-additional {
    max-width: 78px;
}

.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }

    #column-left + #content .product-layout .col-md-3 {
        width: 50%;
    }

    #column-left + #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
    width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
    min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/* fix oclabs */
.alert-dismissable .close, .alert-dismissible .close {
    right: -1px;
}


/* slider */
#common-home .swiper-viewport {
    box-shadow: 0 0 6px -3px rgba(185, 8, 255, 0.86);
}

.swiper-viewport .swiper-pager .swiper-button-next, .swiper-viewport .swiper-pager .swiper-button-prev {
    opacity: 0.1;
}

.swiper-viewport .swiper-pager .swiper-button-next {
    right: 0;
}

.swiper-viewport .swiper-pager .swiper-button-prev {
    left: 0;
}

.swiper-pager .swiper-button-prev:before, .swiper-pager .swiper-button-next:before {
    color: #794c72;
    opacity: 0.7;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #794c72;
    opacity: 0.7;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff04e4;
    opacity: 0.7;
}

#information-information #content h1 {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-align: center;
}

#information-information p {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: #794c72;
}

#information-information span {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: #794c72;
}

.delivery-box {
    font-family: 'Times New Roman', sans-serif;
    font-size: 14px;
    color: #794c72;
}

.delivery-box h1 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    height: 10px;
    line-height: 22px;
}

.delivery-box .delivery-container .delivery-kiev-info img {
    height: 50px;
    width: 50px;
}

.delivery-box .delivery-container .delivery-kiev-info span {
    font-size: 18px;
}

.delivery-box .delivery-container .delivery-container-items .delivery-container-item {
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
}

.delivery-box .delivery-container .delivery-container-items .delivery-container-item img{
    height: 20px;
    width: 20px;
}
